body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #cfe2f3;
    color: black;
    padding: 1rem;
    text-align: center;
    height: 110px;
}

nav ul {
    list-style: none;
    padding: 0;
}

div img {
    width : 400px;
    height: 400px;
    text-align: center;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

main {
    padding: 2rem;
}

#posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.post {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
}

.post .date {
    color: #888;
    font-size: 0.9rem;
}

.post .excerpt {
    margin: 1rem 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #cfe2f3;
    color:black;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
